loki:
  enabled: true
  config:
    schema_config:
      configs:
        - from: 2018-04-15
          store: boltdb-shipper
          object_store: azure
          schema: v11
          index:
            prefix: loki_index_
            period: 24h
    storage_config:
      azure:
        container_name: loki
        account_name: <account-name>
        account_key: <account-secret>
      boltdb_shipper:
        active_index_directory: /data/loki/index
        shared_store: azure
        cache_location: /data/loki/boltdb-cache

  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/rewrite-target: /$2
    hosts:
      - host: {{ fqdn }}
        paths:
        - /loki(/|$)(.*)
    tls:
      - secretName: loki-tls
        hosts:
          - {{ fqdn }}
